html {
    font-size: 12px;
}

body {
    font-family: 'Open Sans', sans-serif, Arial;
}

#description {
    margin: auto;
    margin-bottom: 50px;
    width: 100%;
}

.mailing-list {
    opacity: 0.6;
    float: right;
}

p {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    line-height: 24px;
}

#torso {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#torso div {
    display: inline-block;
}

#trunk {
}

#trunk h2 {
    font-size: 15px;
}

#trunk h2.trunk-title {
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
}

.trunk-section {
    padding-bottom: 25px;
    padding-top: 15px;
}

a.active {
    background-color: steelblue;
    border: 0;
    border-radius: 18px;
    color: #fff;
    padding: 5px 8px 5px 8px;
}

.pill {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    text-transform: uppercase;
}

.pill:hover {
    text-decoration: none;
}

#footer {
    border-top: 0;
    font-size: 11px;
    text-align: center;
}

#head {
    color: black;
    margin: auto;
    width: 100%;
}

#menu {
    text-align: center;
}

#head h1 {
    font-size: 40px;
    font-weight: 300;
    margin: 45px 0 0 0;
    text-align: center;
}

#head h3 {
    text-align: center;
}

#head ul {
    clear: both;
    font-size: 14px;
    padding: 20px 0 20px 0;
}

#head ul li {
    display: inline;
    list-style: none;
    padding-right: 15px;
}

svg {
    margin-top: 50px;
}

a.active,
a.active:active,
a.active:visited {
    text-decoration: none;
}
